---
import Bottone from '../components/Bottone';
const text = 'Bottone'
---

<main>
	<div>
		<Bottone
			descrizione={'Ciao Mondo'}
		/>
	</div>
	<!-- prova teilwind -->
	<h1 class="text-5xl">Ciao</h1>
	<h1 class="text-green-600 border-8 border-green-600"></h1>
</main>